# VSCode seting
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json.template
!.vscode/c_cpp_properties.json

# build binary
build
bin

# imgui file
imgui.ini

# easyloggingpp
myeasylog.log

# ccls
.ccls-cache
compile_commands.json

# template -------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# for models
!models/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
