build
build_*
vcpkg_installed

.ccls-cache
imgui.ini
myeasylog.log
.vscode
.nvim
*.vim
.ignore
.idea
cmake-build-debug*
*.log

.DS_Store

compile_commands.json
.cache

vcpp_version.txt

/assets/version_info/*.txt

imv_version_checker
imv_version_checker.spec

.python-version
__pycache__

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# for models
!models/*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
