# VSCode seting
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json.template
!.vscode/c_cpp_properties.json

# build binary
build
bin
# package
*.deb

# imgui file
imgui.ini

# easyloggingpp
myeasylog.log

# ccls
.ccls-cache
compile_commands.json

# docker
docker/result

# template -------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# for models
!models/*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
