altgraph==0.17.4
certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
macholib==1.16.3
packaging==24.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
requests==2.32.3
setuptools==75.6.0
six==1.17.0
urllib3==2.2.3
wxPython==4.2.2
